body {
    font-family: 'Red Hat Text', sans-serif;
    color: #E7E8E9;
    margin: unset;
    display: flex;
    flex-flow: column;
    background-color: #334368;
}

option,
select {
    background-color: #334368;
}

select {
    margin-bottom: 1rem;
    border: 2px solid rgb(56, 105, 71);
    background: rgba(0, 0, 0, 0.336);
    color: white;
    border-radius: 10px;
    padding: 1rem;
}

* {
    font-family: 'Chakra Petch', sans-serif !important;
}

.about-section {
    color: white;
    backdrop-filter: blur(10px)brightness(0.7);
    padding: 4rem;
}

.preout {
    font-weight: 100;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 46px;
    color: #E7E8E9;
}

.output {
    font-weight: 100;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 46px;
    color: #E7E8E9;
    white-space: pre;
    content: '';
}

.typing-cursor {
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 46px;
    color: #E7E8E9;
}

p {
    font-size: 20px;
    font-weight: 400;
}

.logo {
    border: 3px solid green;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 100%;
    height: 64px;
    width: 64px;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    text-align: center;
    left: 32px;
}

.logo h2 {
    margin: unset !important;
}

.hero {
    background-image: url(../images/circuit-board.jpeg);
    background-color: #2E5157;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 800px;
}

.title-wrapper {
    min-height: 600px;
    padding: 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.title-row h1 {
    font-size: 6rem;
}

.textwrap {
    height: auto;
    padding: 4rem;
    backdrop-filter: blur(50px);
    text-align: center;
}

.phoneRepair {}

.constraint {
    width: 1200px;
    margin: auto;
    max-width: 100%;
}

.phoneRepairPhoto {
    height: 200px;
    width: auto;
    border: 2px solid white !important;
    border-radius: 10px;
}

.laptopRepairPhoto {
    height: 200px;
    width: auto;
    border: 2px solid white !important;
    border-radius: 10px;
}

.accessoriesPhoto {
    height: 200px;
    width: auto;
    border: 2px solid white !important;
    border-radius: 10px;
}

header {
    padding: 2rem;
    display: flex !important;
    justify-content: space-between;
    flex-flow: row;
    position: fixed;
    z-index: 2;
    top: 0px;
    backdrop-filter: blur(10px)brightness(0.8);
    width: 100%;
}

.reviewsTitle {
    font-size: 100px;
    color: rgb(56, 105, 71);
    text-align: center;
}

.serviceDesc {
    color: white !important;
}

.btn-primary {
    background-color: black !important;
    border: solid black !important;
    box-shadow: unset !important;

}

.whiteText {
    color: white !important;
}

.review {
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(87, 124, 84);
    background: rgba(87, 124, 84, 0.8);
}

header h1 {
    margin: unset;

}

.navitem {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    letter-spacing: 5px;
    padding: 1rem;
    display: inline-block;

}

.navitem:hover {
    color: white !important;
    transform: scale(1.1) !important;
    -webkit-transform: scale(1.1);
    display: inline-block;
    text-decoration: none !important;

}

nav {
    padding: 1rem;

}

a {
    text-decoration: none;
}

footer {
    padding: 1rem;

}

form {
    display: flex;
    flex-flow: column;
    width: 800px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 2rem;

}

iframe {
    width: 800px;

}

form>input,
textarea {
    margin-bottom: 1rem;
    border: 2px solid rgb(56, 105, 71);
    background: rgba(0, 0, 0, 0.336);
    color: white;
    border-radius: 10px;
    padding: 1rem;
}

.submitButton {
    cursor: grab;
}

.ham {
    margin: auto;
}

@media screen and (max-width:1000px) {
    .ham {
        margin-left: auto;
        width: 20px;
        position: relative;
        min-height: 4px;
        background: white;
        display: flex;
        height: 4px;

    }

    .ham>nav {
        height: 0vh;
        transition: all 0s ease;
        width: 100vw;
        display: flex;
        transition-delay: 2s;
    }

    .ham::after {
        content: '';
        width: 100%;
        top: -8px;
        border-bottom: 4px solid white;
        position: absolute;
    }

    .ham::before {
        content: '';
        width: 100%;
        bottom: -8px;
        border-bottom: 4px solid white;
        position: absolute;
    }

    .ham:hover nav {
        background: black;
        height: 50vh;
        transition-delay: 0s;
    }

    nav {
        width: 100vw;
        position: fixed;
        left: 0px;
        top: 0px;
        flex-flow: column;
        display: flex !important;
        overflow: hidden;
    }

    nav:hover {
        height: 50vh;
        background: black;
    }
}